S3method(autoplot,glyphplot)
S3method(autoplot,mg_coef)
S3method(autoplot,mg_ensemble)
S3method(autoplot,mg_resid)
S3method(format,mg_ensemble)
S3method(print,mg_ensemble)
S3method(print,mg_summary)
S3method(update,mg_ensemble)
export("collate<-")
export("data_set<-")
export("groups<-")
export("model_info<-")
export("x_major<-")
export("y_major<-")
export(add_class)
export(add_labels)
export(build_models)
export(collate)
export(cross)
export(data_set)
export(ensemble)
export(gid)
export(glyphs)
export(groups)
export(is.ensemble)
export(is.mg)
export(is.model)
export(ldply_ensemble)
export(line_plot)
export(llply_ensemble)
export(magnitude_plot)
export(make_key)
export(mg)
export(mg_call)
export(model)
export(model_info)
export(renamed)
export(scatter_plot)
export(significance_plot)
export(switch_class)
export(x_major)
export(y_major)
import(S3method)
import(autoplot.r)
import(mg_ensemble)
import(resid)
import(residuals)
import(util.r)
