export("enviro<-")
export("group_info<-")
export("key<-")
export("x_major<-")
export("y_major<-")
export(cross)
export(ensemble)
export(enviro)
export(garrange)
export(glyphs)
export(gmodel)
export(gmutate)
export(gplot)
export(group_info)
export(gsubset)
export(gsummarise)
export(gsummarize)
export(gtransform)
export(is.grouped)
export(key)
export(make_key)
export(x_major)
export(y_major)
