S3method(autoplot,glyphplot)
S3method(format,ensemble)
S3method(print,ensemble)
export(add_labels)
export(ensemble)
export(glyphs)
export(is.ensemble)
export(ldply_ensemble)
export(llply_ensemble)
export(renamed)
